<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>
    <div class="flex flex-col flex-auto min-w-0">
        <div class="row">
            <div class="col-12">
                <div class="card card-body">
                    <div class="text-4xl font-extrabold tracking-tight leading-none">Lista Colaboradores</div>
                    <div class="mt-1.5 text-lg text-secondary">Registro del personal del condominio.</div>
                    <div class="d-flex mb-3 mt-3">
                        <input type="text" class="form-control w-25" placeholder="Busqueda" [(ngModel)]='searchTerm'>
                        
                        <button
                        class="ml-4 "
                        mat-flat-button
                        [color]="'primary'"
                        [routerLink]="['crear']">
                        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                        <span class="ml-2 mr-1">Crear</span>
                        </button>
                    </div>

                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-sm table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Nombres</th>
                                                <th>Apellidos</th>
                                                <th>Rol</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                *ngFor="let Colaborador of _listaColaborador | paginate: { itemsPerPage: 4, currentPage: _pagination } table-active">
                                                <td>{{Colaborador.codigoUsuario}}</td>
                                                <td>{{Colaborador.nombres}}</td>
                                                <td>{{Colaborador.apellidos}}</td>
                                                <td>{{Colaborador.tipoStr}}</td>
                                                <td>
                                                <button
                                                class="ml-4"
                                                mat-flat-button
                                                [color]="'primary'"
                                                (click)="deleteColaborador(Colaborador.codigoUsuario)">
                                                <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                                </button>
        
                                                <button
                                                class="ml-4"
                                                mat-flat-button
                                                [color]="'primary'"
                                                [routerLink]="['editar',Colaborador.codigoUsuario]">
                                                <mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
                                                </button>
                                                </td>
        
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <ngb-pagination [collectionSize]="_cantidad" [(page)]="_pagination" [maxSize]="5"
                            [boundaryLinks]="true">
                        </ngb-pagination>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>